<!DOCTYPE html>
<html>

<head>
    <title>SWE632 Mapper</title>

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.min.js"
        integrity="sha512-Wbf9QOX8TxnLykSrNGmAc5mDntbpyXjOw9zgnKql3DgQ7Iyr5TCSPWpvpwDuo+jikYoSNMD9tRRH854VfPpL9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- UiKit -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.16.24/css/uikit.min.css"
        integrity="sha512-NcmV7IV+qizfpgTaTg1WzUZiBdDZfC4+AEg9Fh845oz6DbZNrYVqv9V09Tvrw49UdhGSISB3VqYMRSUBwOfxOA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.16.24/js/uikit.min.js"
        integrity="sha512-GuBLLhqyTuc7b3Iup+mC6aihg2+yVeq//7p79RDG64zDKabYKQlVhuO7I+aKYCBVyHraSEHz/LNO2x9Gs6ayNA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.16.24/js/uikit-icons.min.js"
        integrity="sha512-pca9avNkoc85j1HMRuksRgpT4KMZOx88McJyQaO01Rt6v2gzRpz1634urrXntjUTnSE/g/IkiKvUp3IHSPlmmg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css"
        integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"
        integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="index.css" />

</head>

<body class="uk-height-viewport uk-width-1-1" uk-grid>
    <div class="uk-width-1-6"></div>
    <div id="app" class="uk-height-viewport uk-width-2-3">
        <ul class="uk-subnav uk-subnav-pill uk-width-1-1" uk-switcher>
            <li><a href="#">Data Sets</a></li>
            <li><a href="#">Maps</a></li>
            <li><a href="#" class="uk-invisible" id="map-switcher-tab">Map</a></li>
        </ul>

        <ul class="uk-switcher uk-margin uk-height-1-1 uk-width-1-1">
            <li>
                <a class="uk-button uk-button-default" uk-toggle="target: #add_dataset_modal"
                    v-on:click="openCreateDataSet"><span uk-icon="plus" uk-tooltip="ADD DATA SET"></span></a>

                <a class="uk-button uk-button-default uk-align-right" uk-toggle="target: #help_modal">
                    <span uk-icon="info" uk-tooltip="HELP"></span></a>
                <table class="uk-table  uk-table-striped uk-table-hover">
                    <thead>
                        <tr>
                            <th>Data Set Name</th>
                            <th>Data Points</th>
                            <th>Actions</th>
                        <tr>
                    </thead>
                    <tbody>
                        <tr v-for="dataset in datasets">
                            <td>{{ dataset.name }}</td>
                            <td>{{ dataset.points }}</td>
                            <td>
                                <a uk-icon="pencil" class="rename" uk-tooltip="RENAME" href="#rename_dataset_modal"
                                    uk-toggle v-on:click="openRenameDataSet(dataset.name)"></a>
                                <a uk-icon="upload" class="upload" uk-tooltip="UPLOAD" href="#upload_dataset_modal"
                                    uk-toggle v-on:click="openUploadDataSet(dataset.name)"></a>
                                <a uk-icon="link" class="permalink" uk-tooltip="PERMALINK"
                                    href="#permalink_dataset_modal" uk-toggle
                                    v-on:click="openPermalinkDataSet(dataset.name)"></a>
                                <a uk-icon="trash" class="red delete" uk-tooltip="DELETE" href="#delete_dataset_modal"
                                    uk-toggle v-on:click="openDeleteDataSet(dataset.name)"></a>
                            </td>
                        </tr>
                    <tbody>
                </table>
            </li>

            <li>
                <a class="uk-button uk-button uk-button-default" uk-toggle="target: #add_dataset_to_map_modal"><span
                        uk-icon="plus" uk-tooltip="ADD DATA SET TO MAP"></span></a>
                <table class="uk-table  uk-table-striped uk-table-hover">
                    <thead>
                        <tr>
                            <th>Map Name</th>
                            <th>Data Set</th>
                            <th>Color</th>
                            <th>Actions</th>
                        <tr>
                    </thead>
                    <tbody>
                        <tr v-for="map in maps">
                            <td>{{ map.name }}</td>
                            <td>{{ map.dataset }}</td>
                            <td><input type="color" v-model="map.color" @change="changeMapColor(map.uuid, map.color)" />
                            </td>
                            <td>
                                <a uk-icon="location" uk-tooltip="VIEW MAP" uk-switcher-item="2"
                                    v-on:click="openMap(map.uuid)"></a>
                                <a uk-icon="trash" class="red delete" uk-tooltip="DELETE" href="#unlink_dataset_modal"
                                    uk-toggle v-on:click="openUnlinkMap(map.name, map.dataset)"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>

            <li id="render_map" class="uk-height-1-1 uk-width-1-1">
                <div class="uk-flex uk-flex-row uk-padding-small uk-padding-remove-top uk-padding-remove-bottom">
                    <a class="uk-button uk-button-small uk-button-default"><span uk-icon="camera"
                            uk-tooltip="SCREENSHOT" v-on:click="screenshot"></span></a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="uk-button uk-button-small uk-button-default" uk-icon="link" uk-tooltip="PERMALINK"
                        href="#permalink_map_modal" uk-toggle></a>
                </div>
                <h4 class="uk-text-center">{{ current_map.name }}</h4>
                <div class="uk-height-1-1 uk-width-1-1 uk-margin uk-object-contain">
                    <div id="map" class="uk-height-1-1 uk-width-1-1"></div>
                </div>
            </li>
        </ul>

        <div id="add_dataset_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="">Add Data Set</h2>
                <div class="uk-form uk-margin">
                    <b>Name</b>
                    <input type="text" class="uk-width-1-1 uk-input" v-model="add_dataset_modal.name">
                </div>
                <div class="uk-form uk-margin">
                    <b>Data File</b>
                    <input id="file_upload_1" type="file" accept="application/JSON" class="uk-width-1-1 uk-input"
                        v-on:change="datasetFileChanged" readonly>
                </div>
                <div class="uk-align-right">
                    <a class="uk-button uk-button-primary uk-modal-close" type="a" v-on:click="createDataSet">CREATE</a>
                    <a class="uk-button uk-button-danger  uk-modal-close" type="a">CANCEL</a>
                </div>
            </div>
        </div>

        <div id="add_dataset_to_map_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="">Add Data Set to Map</h2>
                <div class="uk-form uk-margin">
                    <b>Map Name</b> (the map will be created, if it does not already exist)
                    <input type="text" class="uk-width-1-1 uk-input" v-model="add_dataset_to_map_modal.name">
                </div>
                <div class="uk-form uk-margin">
                    <b>Data Set</b> (name or permalink)
                    <input type="text" class="uk-width-1-1 uk-input" v-model="add_dataset_to_map_modal.dataset">
                </div>
                <div class="uk-form uk-margin">
                    <b>Color</b>
                    <input type="color" v-model="add_dataset_to_map_modal.color" />
                </div>
                <div class="uk-align-right">
                    <a id="add_map_button" class="uk-button uk-button-primary  uk-modal-close" type="a"
                        v-on:click="createMap">CREATE</a>
                    <a class="uk-button uk-button-danger  uk-modal-close" type="a">CANCEL</a>
                </div>
            </div>
        </div>

        <div id="rename_dataset_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="">Rename Data Set</h2>
                <div class="uk-form uk-margin">
                    <b>Old Data Set Name</b>
                    <input type="text" class="uk-width-1-1 uk-input" v-model="rename_dataset_modal.old_name" readonly
                        disabled>
                </div>
                <div class="uk-form uk-margin">
                    <b>New Data Set Name</b>
                    <input type="text" class="uk-width-1-1 uk-input" v-model="rename_dataset_modal.new_name">
                </div>
                <div class="uk-align-right">
                    <a class="uk-button uk-button-primary  uk-modal-close" type="a"
                        v-on:click="renameDataSet">RENAME</a>
                    <a class="uk-button uk-button-danger  uk-modal-close" type="a">CANCEL</a>
                </div>
            </div>
        </div>

        <div id="upload_dataset_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="">Upload Data Set</h2>
                <div class="uk-form uk-margin">
                    <b>Data File</b>
                    <input id="file_upload_2" type="file" accept="application/JSON" class="uk-width-1-1 uk-input"
                        v-on:change="datasetFileChanged" readonly>
                </div>
                <div class="uk-align-right">
                    <a class="uk-button uk-button-primary  uk-modal-close" type="a"
                        v-on:click="uploadDataSet">UPLOAD</a>
                    <a class="uk-button uk-button-danger  uk-modal-close" type="a">CANCEL</a>
                </div>
            </div>
        </div>

        <div id="permalink_dataset_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="">Permalink Data Set</h2>
                <div class="uk-form uk-margin">
                    <b>Permalink:</b>
                    <a v-bind:href="permalink_dataset_modal.href">{{permalink_dataset_modal.text}}</a>
                </div>
                <div class="uk-align-right uk-margin">
                    <a class="uk-button uk-button-primary  uk-modal-close" type="a"
                        v-on:click="copyDataSetPermalink">COPY</a>
                    <a class="uk-button uk-button-danger  uk-modal-close" type="a">CANCEL</a>
                </div>
            </div>
        </div>

        <div id="permalink_map_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="">Permalink Map</h2>
                <div class="uk-form uk-margin">
                    <b>Permalink:</b>
                    <a v-bind:href="permalink_map_modal.href">{{permalink_map_modal.text}}</a>
                </div>
                <div class="uk-align-right uk-margin">
                    <a class="uk-button uk-button-primary  uk-modal-close" type="a"
                        v-on:click="copyMapPermalink">COPY</a>
                    <a class="uk-button uk-button-danger  uk-modal-close" type="a">CANCEL</a>
                </div>
            </div>
        </div>

        <div id="delete_dataset_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="">Permanently Delete Data Set</h2>
                <div class="uk-form uk-margin">
                    <b>Data Set</b>
                    <input type="text" class="uk-width-1-1 uk-input" v-model="delete_dataset_modal.name" readonly
                        disabled>
                </div>
                <div class="uk-align-right">
                    <a class="uk-button uk-button-primary  uk-modal-close" type="a"
                        v-on:click="deleteDataSet">DELETE</a>
                    <a class="uk-button uk-button-danger  uk-modal-close" type="a">CANCEL</a>
                </div>
            </div>
        </div>

        <div id="unlink_dataset_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="">Remove Data Set from Map</h2>
                <div class="uk-form uk-margin">
                    <b>Map Name</b>
                    <input type="text" class="uk-width-1-1 uk-input" v-model="unlink_dataset_modal.name" readonly
                        disabled>
                </div>
                <div class="uk-form uk-margin">
                    <b>Data Set</b>
                    <input type="text" class="uk-width-1-1 uk-input" v-model="unlink_dataset_modal.dataset" readonly
                        disabled>
                </div>
                <div class="uk-align-right">
                    <a class="uk-button uk-button-primary  uk-modal-close" type="a"
                        v-on:click="unlinkDataSet">REMOVE</a>
                    <a class="uk-button uk-button-danger  uk-modal-close" type="a">CANCEL</a>
                </div>
            </div>
        </div>
        
        <div id="help_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Help Documentation</h2>
                <p>
                TODO
                </p>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-danger uk-modal-close" type="button">CLOSE</button>
                </p>
            </div>
        </div>

    </div>

    <div class="uk-width-1-6"></div>

    <script src="index.js"></script>
    <script src="mapping.js"></script>

</body>

</html>
