<!DOCTYPE html>
<html>

<head>
    <title>SWE632 Mapper</title>

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.min.js"
        integrity="sha512-Wbf9QOX8TxnLykSrNGmAc5mDntbpyXjOw9zgnKql3DgQ7Iyr5TCSPWpvpwDuo+jikYoSNMD9tRRH854VfPpL9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- UiKit -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.16.24/css/uikit.min.css"
        integrity="sha512-NcmV7IV+qizfpgTaTg1WzUZiBdDZfC4+AEg9Fh845oz6DbZNrYVqv9V09Tvrw49UdhGSISB3VqYMRSUBwOfxOA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.16.24/js/uikit.min.js"
        integrity="sha512-GuBLLhqyTuc7b3Iup+mC6aihg2+yVeq//7p79RDG64zDKabYKQlVhuO7I+aKYCBVyHraSEHz/LNO2x9Gs6ayNA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.16.24/js/uikit-icons.min.js"
        integrity="sha512-pca9avNkoc85j1HMRuksRgpT4KMZOx88McJyQaO01Rt6v2gzRpz1634urrXntjUTnSE/g/IkiKvUp3IHSPlmmg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css"
        integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"
        integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Blueimp MD5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.19.0/js/md5.min.js"
        integrity="sha512-8pbzenDolL1l5OPSsoURCx9TEdMFTaeFipASVrMYKhuYtly+k3tcsQYliOEKTmuB1t7yuzAiVo+yd7SJz+ijFQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="index.css" />

    <style>
        /* Added CSS styles for documentation */
        .help-tooltip {
            display: none;
            position: absolute;
            background-color: #333;
            color: #fff;
            padding: 5px;
            border-radius: 3px;
            font-size: 14px;
            margin-left: 10px;
        }

        /* Style on hover to show documentation */
        .uk-button:hover + .help-tooltip,
        [uk-tooltip]:hover + .help-tooltip {
            display: block;
        }

        /* Style for tooltip positioning */
        .uk-button:hover + .help-tooltip {
            margin-left: 10px;
        }

    </style>

</head>

<body class="uk-height-viewport uk-width-1-1" uk-grid>
    <div class="uk-width-1-6"></div>
    <div id="app" class="uk-height-viewport uk-width-2-3">
        <ul class="uk-subnav uk-subnav-pill uk-width-1-1" uk-switcher>
            <li><a href="#">Data Sets</a></li>
            <li><a href="#" id="map-switcher-tab">Map</a></li>
        </ul>

        <ul class="uk-switcher uk-margin uk-height-1-1 uk-width-1-1">
            <li>
                <a class="uk-button uk-button-default" uk-toggle="target: #add_dataset_modal"
                    v-on:click="openCreateDataSet"><span uk-icon="plus" uk-tooltip="ADD DATA SET"></span></a>
                    <!-- Documentation -->
                    <div class="help-tooltip">Click this button to add a new data set. You can upload .json files to create datasets.</div>

                <a class="uk-button uk-button-default uk-align-right" uk-toggle="target: #datasets_help_modal">
                    <span uk-icon="info" uk-tooltip="HELP"></span></a>
                    
                <table class="uk-table  uk-table-striped uk-table-hover">
                    <thead>
                        <tr>
                            <th class="uk-width-2-3">Data Set Name</th>
                            <th class="uk-width-1-6">Color</th>
                            <th class="uk-width-1-6">Actions</th>
                        <tr>
                    </thead>
                    <tbody>
                        <tr v-for="(dataset, key) in datasets">
                            <td>
                                <a uk-tooltip="VIEW MAP" uk-switcher-item="1" v-on:click="openMap()">{{ dataset.name }}</a>
                            </td>

                            <td>
                                <input type="color" v-model="dataset.color" />
                            </td>

                            <td>
                                <a uk-icon="location" uk-tooltip="VIEW MAP" uk-switcher-item="1"
                                        v-on:click="openMap()"></a>
                                <a uk-icon="pencil" class="rename" uk-tooltip="RENAME" href="#rename_dataset_modal"
                                    uk-toggle v-on:click="openRenameDataSet(dataset.name)"></a>
                                <a uk-icon="trash" class="red delete" uk-tooltip="DELETE" href="#delete_dataset_modal"
                                    uk-toggle v-on:click="openDeleteDataSet(dataset.name, dataset.uuid)"></a>
                            </td>
                        </tr>
                    <tbody>
                </table>
            </li>

            <li id="render_map" class="uk-height-1-1 uk-width-1-1">
                <div class="uk-flex uk-flex-row uk-flex-between uk-padding-remove uk-margin-remove">
                
                    <div>
                        <a class="uk-button uk-button-default uk-button-default"><span uk-icon="camera"
                                uk-tooltip="SCREENSHOT" v-on:click="screenshot"></span></a>
                        &nbsp;&nbsp;&nbsp;
                        <a class="uk-button uk-button-default uk-button-default" uk-icon="link" uk-tooltip="PERMALINK"
                            href="#permalink_map_modal" uk-toggle></a>
                    </div>
                        
                    <div>
                        <a class="uk-button uk-button-default uk-align-right" uk-toggle="target: #map_help_modal">
                            <span uk-icon="info" uk-tooltip="HELP"></span></a>
                    </div>
                </div>
                <h4 class="uk-text-center uk-padding-remove uk-margin-remove">{{ current_map.name }}</h4>
                <div class="uk-height-1-1 uk-width-1-1 uk-margin uk-object-contain">
                    <div id="map" class="uk-height-1-1 uk-width-1-1"></div>
                </div>
            </li>
        </ul>

        <div id="add_dataset_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="">Add Data Set</h2>
                <div class="uk-form uk-margin">
                    <b>Data File</b> (<span class="red"> *.json</span> files only )
                    <input id="file_upload_1" type="file" accept="application/JSON" class="uk-width-1-1 uk-input"
                        v-on:change="datasetFileChanged" multiple readonly>
                </div>
                <div class="uk-align-right">
                    <a class="uk-button uk-button-primary uk-modal-close" type="a" v-on:click="createDataSet">CREATE</a>
                    <a class="uk-button uk-button-danger  uk-modal-close" type="a">CANCEL</a>
                </div>
            </div>
        </div>

        <div id="rename_dataset_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="">Rename Data Set</h2>
                <div class="uk-form uk-margin">
                    <b>Old Data Set Name</b>
                    <input type="text" class="uk-width-1-1 uk-input" v-model="rename_dataset_modal.old_name" readonly
                        disabled>
                </div>
                <div class="uk-form uk-margin">
                    <b>New Data Set Name</b>
                    <input type="text" class="uk-width-1-1 uk-input" v-model="rename_dataset_modal.new_name">
                </div>
                <div class="uk-align-right">
                    <a class="uk-button uk-button-primary  uk-modal-close" type="a"
                        v-on:click="renameDataSet">RENAME</a>
                    <a class="uk-button uk-button-danger  uk-modal-close" type="a">CANCEL</a>
                </div>
            </div>
        </div>

        <div id="permalink_map_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="">Permalink Map</h2>
                <div class="uk-form uk-margin">
                    <b>Permalink:</b>
                    <a v-bind:href="permalink_map_modal.href">{{permalink_map_modal.text}}</a>
                </div>
                <div class="uk-align-right uk-margin">
                    <a class="uk-button uk-button-primary  uk-modal-close" type="a"
                        v-on:click="copyMapPermalink">COPY</a>
                    <a class="uk-button uk-button-danger  uk-modal-close" type="a">CANCEL</a>
                </div>
            </div>
        </div>

        <div id="delete_dataset_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="">Permanently Delete Data Set</h2>
                <div class="uk-form uk-margin">
                    <b>Data Set</b>
                    <input type="text" class="uk-width-1-1 uk-input" v-model="delete_dataset_modal.name" readonly
                        disabled>
                </div>
                <div class="uk-align-right">
                    <a class="uk-button uk-button-primary  uk-modal-close" type="a"
                        v-on:click="deleteDataSet">DELETE</a>
                    <a class="uk-button uk-button-danger  uk-modal-close" type="a">CANCEL</a>
                </div>
            </div>
        </div>
        
        <div id="datasets_help_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Help Documentation</h2>
                <p>
                    <b>1. Adding a Data Set:</b> 
                    <ul>
                        <li>Click the <a class="uk-button uk-button-default">ADD DATA SET</a> button.</li>
                        <li>Upload a JSON file to create a new data set. You can add multiple .json files at once, and the application will auto-populate data set names with the corresponding file names.</li>
                    </ul>
                </p>

                <p>
                    <b>2. Renaming a Data Set:</b> 
                    <ul>
                        <li>Click the pencil icon (<a uk-icon="pencil" class="rename" uk-tooltip="RENAME"></a>) next to a data set's name.</li>
                        <li>Enter the new name for the data set and click "RENAME" to save the changes.</li>
                    </ul>
                </p>

                <p>
                    <b>3. Deleting a Data Set:</b> 
                    <ul>
                        <li>To delete a data set, click the trash can icon (<a uk-icon="trash" class="red delete" uk-tooltip="DELETE"></a>) next to the data set.</li>
                        <li>Confirm the deletion when prompted to permanently remove the data set.</li>
                    </ul>
                </p>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-danger uk-modal-close" type="button">CLOSE</button>
                </p>
            </div>
        </div>
        
        <div id="map_help_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Help Documentation</h2>
                <p>
                    <b>4. Viewing a Map:</b> 
                    <ul>
                        <li>Click the data set name or the map icon (<a class="uk-button uk-button-default uk-button-default" uk-icon="location" uk-tooltip="VIEW MAP"></a>)to view the map associated with that data set.</li>
                    </ul>
                </p>
                
                <p>
                    <b>5. Taking a Screenshot:</b> 
                    <ul>
                        <li>Click the camera icon (<a class="uk-button uk-button-default uk-button-default" uk-icon="camera" uk-tooltip="SCREENSHOT"></a>) to capture a screenshot of the current map view.</li>
                    </ul>
                </p>
                
                <p>
                    <b>6. Getting a Permalink:</b> 
                    <ul>
                        <li>Click the link icon (<a class="uk-button uk-button-default uk-button-default" uk-icon="link" uk-tooltip="PERMALINK"></a>) to obtain a permalink for the map's current view. You can copy and share this link with others.</li>
                    </ul>
                </p>
            </div>
        </div>
        
    </div>

    <div class="uk-width-1-6"></div>
    <script src="index.js"></script>
    <script src="mapping.js"></script>
    <script src="geoJsonData.js"></script>
</body>

</html>
